*{
	margin: 0;
	padding: 0;
	border: 0;
}
a{
	color:#2e9ba0;
}

#btn-search{
	background-color:#2e9ba0;
}
#navbar{
	padding-right:0;
	padding-left:0;
}
.tool{
	padding-top:0px;
	height:70px;
	z-index: 100;
	background-color:#2e9ba0;
	position: fixed;
	width:100%;
	margin-top: 0%;
}
.cont{
	background: #333333;
	height:550px;
}

html,body{
margin: 0;
padding: 0;
border: 0;
font-family: "Titillium Web", sans-serif;
background-color: #333333;
}
.toolbutton{
	background-color: #333333;
	width:12%;
	height: 40px;
	color: #ffffff;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 5px;
}
.toolbutton-sign{
	background-color: #fff;
	left:5%;
	width:12%;
	height: 40px;
	color: #333333;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 5px;
}
.toolbutton-signonhover{
	background-color: #333333;
	left:5%;
	width:12%;
	height: 40px;
	color: #fff;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 5px;
}
.toolbuttonhover{
	background-color: #ffffff;
	width:12%;
	height: 40px;
	color: #2e9ba0;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 5px;
}


}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form{
	border-radius: 0px;
	border: 0;
	padding-right: 0%;
	padding-left: 5px;
	height: 100%;
	width:73.7%;
	margin: 0;
}
.searchbutton{
	background-color: #2e9ba0;
	width:25%;
	height: 100%;
	color: #ffffff;
	margin-left: 1%;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 0px;
}
.searchhover{
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0px 0px 5px #fff;
	background-color: #2e9ba0;
	width:25%;
	height: 100%;
	color: #ffffff;
	margin-left: 1%;
	padding:0;
	border: 0;
	position: relative;
	font-family: "Titillium Web", sans-serif;
	border-radius: 0px;

}
.topics{
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #ffffff;
}
td{
	text-align: center;
	width: 20%;
	position: relative;
}
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}
sri{
	font-family: "Titillium Web", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
sri:hover{
	color: #2e9ba0;
}
.credit{
	padding: 0;
	margin: 0;
	border: 0;
	bottom: 0;
	background-color: #2e9ba0;
	height:400px;
}
#footer{
	text-align: center;
	height:50px;
	padding:15px;
}

